@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="cs-hd">Blockbuster Hits</h1>

<div id="image-container">
    <img id="image" src="https://collider.com/wp-content/uploads/inception_movie_poster_banner_04.jpg" />
    <div id="buttons">
        <button id="prev-btn">&lt;</button>
        <button id="next-btn">&gt;</button>
    </div>
</div>

<h1 id="h" class="cs-hd">Trending Now</h1>

<div class="movie-container">
    <main id="main">
    </main>
</div>
